.top {
  width: 100%;
  height: 14em;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  font-family: "Nunito", sans-serif;
  /* background-color: teal; */
  padding: 2em 0 0.8em 0;
}
.topbarTitle {
  font-size: 5em;
}
.topbarbottom {
  display: flex;
  width: 80%;
  margin: 0 2em;
}
.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topSearchIcon {
  margin: 0 1em;
}

.topCenter {
  flex: 6;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topListItem:hover {
  color: gray;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.link {
  text-decoration: none;
}
